{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
    <title>Sri Gokul Events | Entertainment</title>
    <link rel="icon" href="{% static 'images/icon1.png'%}">
    <link rel="stylesheet" href="{% static 'css/entertainment.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/39d6712fc9.js" crossorigin="anonymous"></script>  
  </head>
  <body>

    <!--navbar-->
    <header>
      <nav id="navbar" class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{%static 'images\icon1.png'%}" alt="" width="50" height="50">
          </a>
          <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto mb-lg-0" id="navbar-items">
              <li class="nav-item">
                <a class="nav-link " href="/" style="color: rgb(0, 0, 0);">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about" style="color: rgb(0, 0, 0);">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: rgb(0, 0, 0);">Services</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/catering">Catering</a>
                  <a class="dropdown-item " href="/decoration">Decoration</a>
                  <a class="dropdown-item" href="/photography">Photography</a>
                  <a class="dropdown-item" href="/makeup">Makeup</a>
                  <a class="dropdown-item active" href="/entertainment">Entertainment</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link"  style="color: rgb(0, 0, 0);" href="/contact">Contact</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--nav end-->


    <div class="container-fluid col-lg-11 col-xl-11">
      <div class="my-lg-5 col-md-5 my-4 ">
        <a >
          <button style="border: none; background-color: inherit; font-size: 30px;">
            <a href="javascript:history.go(-1)">
              <i class="fa-solid fa-arrow-left back" href="#"></i>
            </a>
          </button>  
        </a>
        <a style="font-size: 30px; font-weight: 600; color: #0085FF; padding-left: 15px;">Entertainment</a>
      </div>
       
      <!--carousel-->
      <div id="carouselExampleIndicators" class="carousel slide my-xl-5 my-lg-5 my-md-4 my-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{%static 'images/entertainment/pexels-kosygin-leishangthem-2888802.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/entertainment/pexels-lloyd-james-11481894.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/entertainment/pexels-mark-angelo-sampan-1587927.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/entertainment/pexels-pixabay-164879.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'images/entertainment/pexels-wendy-wei-1540319.jpg'%}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p style="text-align: left;">Events without entertainment are meaningless, Book us to get a
        maximum out of the event through our fun Public Entertainment, We are providing the entertainment service
        that you needed.
      </p>
      <h3 class="my-4" style="color: #0085FF;">We are Providing</h3>
      <ul>
        <li>Dancing</li>
        <li>Singing</li>
        <li>Concerts</li>
        <li>Stage Shows</li>
      </ul>
      <p style="text-align: left;">Sri Gokul Event Planners will provide you the
      quality of entertainment services. Book us to get effective price on this service.
      </p>
      <a href="tel:+91 9952844883">
        <button type="button" class="book my-3" href="tel:+91 99528 44883">
          <i class="fa fa-phone" aria-hidden="true"></i>
          Book us
        </button>
      </a>
    </div>

    
    




    <footer>
      <div class="container-fluid">
        <div class="row col-xl-12 col-lg-12 col-md-12 my-5" style="padding: 40px;">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div>
              <img src="{%static 'images/icon1.png'%}" alt="" width="100" height="100">
              <p class="mb-30 footer-desc" style="text-align: left;">We are a private company who undertakes catering contracts and
               we are also known for event planning.
              </p>
            </div>
          </div>
          <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
            <div class="">
              <h4>Quick Link</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="/" class="text-decoration-none">Home</a>
                </li>
                <li>
                  <a href="/about" class="text-decoration-none">About Us</a>
                </li>
                <li>
                  <a href="/contact" class="text-decoration-none">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
            <div>
              <h4>Services</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="/catering" class="text-decoration-none">Catering</a>
                </li>
                <li>
                  <a href="/decoration" class="text-decoration-none">Decoration</a>
                </li>
                <li>
                  <a href="/photography" class="text-decoration-none">Photography</a>
                </li>
                <li>
                  <a href="/makeup" class="text-decoration-none">Makeup</a>
                </li>
                <li>
                  <a href="/entertainment" class="text-decoration-none">Entertainment</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
            <div>
              <h4>Address</h4>
              <ul class="list-unstyled">
                <li>
                  <p style="text-align: left;">Sri gokul catering and marriage Center, Collappatti, Tamil Nadu 636012.</p>
                </li>
                <li>
                  <p><a href="mailto:Srigokulvisualphotography@gmail.com" style="font-size: 16px;">Srigokulvisualphotography@gmail.com</a>
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6">
            <div>
              <h4>Phone</h4>
              <ul class="list-unstyled">
                <li>
                  <p><a href="tel:+91 9952844883 ">+91 95972 88670</a></p>
                  <p><a href="tel:+91 9952844883 ">+91 97888 23777</a></p>
                  <p><a href="tel:+91 9952844883 ">+91 99528 44883</a></p>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="d-flex justify-content-center">
    
          <div class="copyright" style="font-weight: 500; font-size: 17px; color: #009E95;">
            <p>Be a guest in your own event..!</p>
          </div>
        </div>
      </div>
    </footer>

    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>