{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Sri Gokul Events</title>
    <meta name="description" content="Sri Gokul Events, A complete event planner from Private Parties to Weddings and Catering service from breakfast to dinner.">
    <meta name="keywords" content="Catering in salem, catering service in tamil nadu, catering in salem, gokul catering services, sri gokul events, photography service in salem, wedding catering, private party, private party catering, public entertainment service,bridal makeup in salem, bridal makeup, groom makeup">
    <link rel="icon" href="{% static 'images/icon1.png'%}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/39d6712fc9.js" crossorigin="anonymous"></script>  
  </head>
  <body>
    

    <!---Navbar-->
    <header>
      <nav id="navbar" class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{%static 'images/icon1.png'%}" alt="" width="50" height="50">
          </a>
          <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto mb-lg-0" id="navbar-items">
              <li class="nav-item">
                <a class="nav-link active" href="/" style="color: white;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about" style="color: rgb(0, 0, 0);">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: rgb(0, 0, 0);">Services</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/catering">Catering</a>
                  <a class="dropdown-item" href="/decoration">Decoration</a>
                  <a class="dropdown-item" href="/photography">Photography</a>
                  <a class="dropdown-item" href="/makeup">Makeup</a>
                  <a class="dropdown-item" href="/entertainment">Entertainment</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact" style="color: rgb(0, 0, 0);">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </header>
    <!--home-->
    <div class="container-fluid col-lg-11 col-xl-11">
      <section id="home">
        <div class="row">


          <!--Top Des-->
          <h1 class="my-lg-4 my-3" style="font-size: 4vw+20px; font-weight: 700;">Welcome to Sri Gokul Catering Services</h1>
          <p   style="font-size: 25px; font-weight: 500;"><span>Wedding & Event Planner</span></p>

          <div class="col-xl-12 col-md-12 col-lg-12 col-12">
           <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
             <div class="carousel-indicators">
               <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
               <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
               <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
               <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
               <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
             </div>
             <div class="carousel-inner col-14">
               <div class="carousel-item active">
                 <img src="{%static 'images/20230325_141310_0002.png'%}" class="w-100 d-block">
                 <div class="carousel-caption d-block d-md-block d-lg-block d-xl-block my-0" >
                   <h5 style="font-size: 4vw; color: #00d0ff; text-align: left; font-weight: bolder;" class="my-0">Perfect Event Planner</h5>
                   <p style="font-size: 2.5vw; color: rgb(255, 255, 255); font-weight: 500; text-align: left; padding-top: 10px;" class="my-0">We will bring your imaginary scenario into reality.</p>
                 </div>
               </div>
               <div class="carousel-item">
                 <img src="{%static 'images/20230325_141310_0001.png'%}" class="	d-block w-100">
                 <div class="carousel-caption d-block d-md-block d-lg-block d-xl-block my-0">
                   <h5 style="font-size: 4vw; color: #00d0ff; font-weight: bolder; text-align: left;" class="my-0">1K+ Happy Customers</h5>
                   <p style="font-size: 2.5vw; color: #ffffff; font-weight: 500; text-align: left; padding-top: 10px;" class="my-0">We have served our effective services in more than 1K events.</p>
                 </div>
               </div>
               <div class="carousel-item">
                 <img src="{%static 'images/20230325_141310_0000.png'%}" class="d-block w-100" alt="...">
                 <div class="carousel-caption d-block d-md-block d-lg-block d-xl-block my-0">
                   <h5  style="font-size: 4vw; color: #00d0ff; font-weight: bolder;text-align: left; " class="my-0">Extensive Services</h5>
                   <p style="font-size: 2.5vw; color: rgb(255, 255, 255); font-weight: 500; padding-top: 10px; text-align: left;" class="my-0">We are providing different varieties of services for diferent events.</p>
                 </div>
               </div>
               <div class="carousel-item">
                 <img src="{%static 'images/20230325_141310_0003.png'%}" class="d-block w-100" alt="...">
                 <div class="carousel-caption  d-block d-md-block d-lg-block d-xl-block my-0">
                   <h5 style="font-size: 4vw; color:  #00d0ff; font-weight: bolder;text-align: left;" class="my-0">Effective Pricing</h5>
                   <p style="font-size: 2.5vw; color: #ffffff;padding-top: 10px; font-weight: 500; text-align: left;" class="my-0">Our services are more cost-effective and we provide top quality services.</p>
                 </div>
               </div>
               <div class="carousel-item">
                 <img src="{%static 'images/20230325_141310_0004.png'%}" class="d-block w-100" alt="...">
                 <div class="carousel-caption  d-block d-md-block d-lg-block d-xl-block my-0">
                   <h5 style="font-size: 4vw; color: #00d0ff; font-weight: bolder;text-align: left;" class="my-0">Food Varieties</h5>
                   <p style="font-size: 2.5vw; color: #ffffff;padding-top: 10px; font-weight: 500;text-align: left;" class="my-0">We have wide a range of food varieties, we will satisfy all of your request.</p>
                 </div>
               </div>
             </div>
             <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
             </button>
             <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
             </button>
           </div>
          </div>
        </div>
        <p class="my-lg-3 col-md-16 my-4" style="text-align: left;">Gokul wedding and event planners are dedicated to fulfill your dreams about your occasions and events. We are the best in town for weddings, anniversaries, birthday parties, decorations, catering contract services, wedding food, company parties and private parties in Salem, TamilNadu. 
          You deem and we do your events more than your expectations.</p>
        <!--Explore services-->
        <h2 class="my-lg-4 my-4" id="ExploreService">Explore Our Services</h2>
        <!--catering service-->
      </section>
      <h3 style="font-weight: 500; color: #0085FF;" class="my-lg-3 col-md-16 my-1">Catering</h3>
      <div class="container-fluid"> 
        <div class="row my-lg-4 col-md-16 my-4">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <!--caurosal catering-->
            <div id="carouselExampleSlidesOnly" class="carousel slide my-lg-4 my-4" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{%static 'images/catering/pexels-fu-zhichao-587741.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                 <img src="{%static 'images/catering/pexels-naim-benjelloun-2291367.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/catering/pexels-sarthak-4331490.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/catering/pexels-team-picsfast-8753672.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/catering/pexels-vidal-balielo-jr-4007057.jpg'%}" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <p class="my-lg-5 col-md-16 my-2" style="text-align: left; ">When it comes to food, wedding caters play a crucial role in the occasions.
            Hiring a wedding professional catering services guarantees a stress free food arrangement.
            We are providing different variety of foods in both veg and non-veg. </p>
            <a href="/catering">
              <button class="Explore" style="margin-top:6px; float: right;">
                Explore
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </a>
  
          </div>
        </div>
      </div>
      <h3 style="font-weight: 500; color: #0085FF;" class="my-lg-3 col-md-16 my-1">Decorations</h3>
      <div class="container-fluid">
        <div class="row my-lg-4 col-md-16 my-4">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 ">
            <!--caurosal decoration-->
            <div id="carouselExampleSlidesOnly" class="carousel slide my-lg-4 my-4" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{%static 'images/decoration/pexels-asad-photo-maldives-169185.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/decoration/pexels-atul-maurya-1042152.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/decoration/pexels-hong-son-5542265.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/decoration/pexels-joel-paim-2291462.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/decoration/pexels-tim-douglas-6210916.jpg'%}" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <p class="my-lg-5 col-md-16 my-2" style=" text-align: left; ">The main course of an event is the decoration of the stage.
             We are providing a wide range of decoration theme for your event which includes stage theme dec, balloons, plate and
             car decorations.
            </p>
            <a href="/decoration">
              <button class="Explore" style="margin-top:6px; float: right;">
                Explore
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <h3 style="font-weight: 500; color: #0085FF;" class="my-lg-3 col-md-16 my-1">Photography</h3>
      <div class="container-fluid">
        <div class="row my-lg-4 col-md-16 my-4">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 ">
            <!--caurosal decoration-->
            <div id="carouselExampleSlidesOnly" class="carousel slide my-lg-4 my-4" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{%static 'images/photography/pexels-alexander-dummer-134469.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/photography/pexels-photomix-company-212372.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/photography/pexels-luis-quintero-1787220.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/photography/pexels-brett-sayles-2388569.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/photography/pexels-the-lazy-artist-gallery-4164088.jpg'%}" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <p class="my-lg-5 col-md-16 my-2" style=" text-align: left; ">Capturing every little blissfull moments 
            are our top goal. We are providing top-level quality of Photography with our finest camera and technology. 
            we are providing candid, wedding, pre wedding, casual and batherol Photography.</p>
            <a href="/photography">
              <button class="Explore" style="margin-top:6px; float: right;">
                Explore
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <h3 style="font-weight: 500; color: #0085FF;" class="my-lg-3 col-md-16 my-1">Makeup</h3>
      <div class="container-fluid">
        <div class="row my-lg-4 col-md-16 my-4">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 ">
            <!--caurosal decoration-->
            <div id="carouselExampleSlidesOnly" class="carousel slide my-lg-4 my-4" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{%static 'images/makeup/pexels-anderson-guerra-1115128.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/makeup/pexels-ary-shutter-805367.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/makeup/pexels-mateusz-dach-3517928.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/makeup/pexels-farddin-protik-2124728.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/makeup/pexels-natallia-photo-15898036.jpg'%}" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <p class="my-lg-5 col-md-16 my-2" style=" text-align: left; ">We are also providing facial makeup to enhance your facial beauty.
            We are providing facial makeup services for both Bride and Groom for the wedding.</p>
            <a href="/makeup">
              <button class="Explore" style="margin-top:6px; float: right;">
                Explore
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <h3 style="font-weight: 500; color: #0085FF;" class="my-lg-3 col-md-16 my-1">Entertainment</h3>
      <div class="container-fluid">
        <div class="row my-lg-4 col-md-16 my-4">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 ">
            <!--caurosal decoration-->
            <div id="carouselExampleSlidesOnly" class="carousel slide my-lg-4 my-4" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{%static 'images/entertainment/pexels-kosygin-leishangthem-2888802.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/entertainment/pexels-lloyd-james-11481894.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/entertainment/pexels-mark-angelo-sampan-1587927.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/entertainment/pexels-pixabay-164879.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{%static 'images/entertainment/pexels-wendy-wei-1540319.jpg'%}" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <p class="my-lg-5 col-md-16 my-2" style=" text-align: left; ">Entertainment are the only escape from the stress 
            and tension. We are providing public entertainment services such us danceing, singing, 
            concerts and many other entertaining services.</p>
            <a href="/entertainment">
              <button class="Explore" style="margin-top:6px; float: right;">
                Explore
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </a>
          </div>
        </div>
      </div>

    

    </div>

    
    <!--Footer-->
    <footer>
      <div class="container-fluid">
        <div class="row col-xl-12 col-lg-12 col-md-12 my-5" style="padding: 40px;">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div>
              <img src="{%static 'images/icon1.png'%}" alt="" width="100" height="100">
              <p class="mb-30 footer-desc" style="text-align: left;">We are a private company who undertakes catering contracts and
               we are also known for event planning.
              </p>
            </div>
          </div>
          <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
            <div class="">
              <h4>Quick Link</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="/" class="text-decoration-none">Home</a>
                </li>
                <li>
                  <a href="/about" class="text-decoration-none">About Us</a>
                </li>
                <li>
                  <a href="/contact" class="text-decoration-none">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
            <div>
              <h4>Services</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="/catering" class="text-decoration-none">Catering</a>
                </li>
                <li>
                  <a href="/decoration" class="text-decoration-none">Decoration</a>
                </li>
                <li>
                  <a href="/photography" class="text-decoration-none">Photography</a>
                </li>
                <li>
                  <a href="/makeup" class="text-decoration-none">Makeup</a>
                </li>
                <li>
                  <a href="/entertainment" class="text-decoration-none">Entertainment</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
            <div>
              <h4>Address</h4>
              <ul class="list-unstyled">
                <li>
                  <p style="text-align: left;">Sri gokul catering and marriage Center, Collappatti, Tamil Nadu 636012.</p>
                </li>
                <li>
                  <p><a href="mailto:Srigokulvisualphotography@gmail.com" style="font-size: 16px;">Srigokulvisualphotography@gmail.com</a>
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6">
            <div>
              <h4>Phone</h4>
              <ul class="list-unstyled">
                <li>
                  <p><a href="tel:+91 9952844883 ">+91 95972 88670</a></p>
                  <p><a href="tel:+91 9952844883 ">+91 97888 23777</a></p>
                  <p><a href="tel:+91 9952844883 ">+91 99528 44883</a></p>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="d-flex justify-content-center">
    
          <div class="copyright" style="font-weight: 500; font-size: 17px; color: #009E95;">
            <p>Be a guest in your own event..!</p>
          </div>
        </div>
      </div>
    </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
  
</html>